html
	head
		meta(charset="UTF-8")
	body
		div.a#_1(onclick="none(this)") Friends
		div.a#_2(onclick="none(this)") User Detail
		div.a#_3(onclick="none(this)") New Messeg
			i#CoinNewMesseg ?
		div.b._1 Friends
		div.b._2 User Detail
		div.b._3 New Messeg
	




	script(src="script.js")
	link(href='style.css' rel='stylesheet' type='text/css')